<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <div class="invoice-title">
          <h2>Compra</h2>
          <h3 class="pull-right">Número # <%= @compra.number %></h3>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
          </div>
          <div class="col-xs-6 text-right">
            <address>
              <strong>Fecha:</strong><br>
              <%= @compra.date.strftime("%d/%m/%Y") %><br><br>
            </address>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><strong>Detalles de compra</strong></h3>
              </div>
              <div class="panel-body">
                <%= render partial: 'table', locals: { compra: @compra } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<%= link_to 'Volver', compras_path %>

