 <body>
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-12">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>Bienvinido</h1>
                  </div>
                  <p></p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
             
 </body>