
<section class="charts">
            <div class="container-fluid">

<%= render 'form' %>

<%= link_to("Detalles", {:action => 'show', :id => user.id}, :class => "btn btn-primary") %>
<%= link_to 'Atras', 'index', :class => "btn btn-primary" %>
</section>